---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Clients from '../components/Clients.astro';
import Partners from '../components/Partners.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout 
  title="Installation Technologies N.V. - Beveiligingsoplossingen & IT-Infrastructuur Curaçao"
  description="Installation Technologies N.V. is al meer dan 20 jaar dé betrouwbare partner voor hoogwaardige beveiligings- en IT-oplossingen in Curaçao en het Caribisch gebied. Van camerabewaking tot netwerkbekabeling."
  keywords="beveiligingsinstallatie Curaçao, camerabewaking, inbraakdetectie, brandveiligheid, IT infrastructuur, netwerkbekabeling, toegangscontrole, Caribisch gebied, CCTV, alarminstallatie"
>
  <Header />
  <main>
    <Hero />
    <Services />
    <Clients />
    <Partners />
    <CTA />
  </main>
  <Footer />
</Layout>